# ===========================
# Laravel
# ===========================
vendor/
node_modules/
.env
.env.testing
.env.backup
storage/logs/*.log
storage/app/public/documents/
bootstrap/cache/*.php
public/hot
public/build/
.phpunit.result.cache
.phpunit.cache/

# ===========================
# Système / IDE
# ===========================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
.claude/
rapport-tests.xml
